@import url(//db.onlinewebfonts.com/c/7220d0d653b5e04190a8c344b3e13edf?family=RileysonW01-Grand);
@font-face {font-family: "RileysonW01-Grand"; src: url("//db.onlinewebfonts.com/t/7220d0d653b5e04190a8c344b3e13edf.eot"); src: url("//db.onlinewebfonts.com/t/7220d0d653b5e04190a8c344b3e13edf.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7220d0d653b5e04190a8c344b3e13edf.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7220d0d653b5e04190a8c344b3e13edf.woff") format("woff"), url("//db.onlinewebfonts.com/t/7220d0d653b5e04190a8c344b3e13edf.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7220d0d653b5e04190a8c344b3e13edf.svg#RileysonW01-Grand") format("svg"); } 
body{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}