
<div class="nav">
    <div class="container">
    <div class="nav__wrapper">
        <div class="logo tabletPlus">
            <div class="icon__logo--big"></div>
        </div>
        <div class="nav__wrapper--media">
            <div class="nav__block onlyTablet">
                <div class="nav__block--icon onlyPhone">
                    <div class="icon__menuAndSearch"></div>
                </div>
                <div class="nav--icon onlyTablet">
                    <div class="icon__logo"></div>
                </div>
            </div>
            <div class="nav__block phonePlus">
                <div class="nav__search">
                    <input type="text" placeholder="Wonach suchst du?">
                    <div class="icon">
                        <div class="icon__search"></div>
                    </div>
                </div>
            </div>
            <div class="nav__block phonePlus">
                <div class="nav__links">
                    <div class="link">Blog</div>
                    <div class="link">Händler</div>
                    <div class="link">Service</div>
                    <div class="link">Über VAUDE</div>
                    <div class="spacer__vertical"> |</div>
                    <div class="icon">
                        <div class="icon__world"></div>
                    </div>
                    <div class="link">DE</div>
                </div>
            </div>
        </div>
        <div class="nav__wrapper--media">
            <div class="nav__block nav__menu phonePlus">
                <div class="nav__item">DAMEN</div>
                <div class="nav__item">HERREN</div>
                <div class="nav__item">KINDER</div>
                <div class="nav__item">AUSRÜSTUNG</div>
                <div class="nav__item">SPORTART</div>
            </div>
            <div class="nav__block">
                <div class="nav__block--icon">
                    <div class="icon__cart"></div>
                </div>
                <div class="nav__block--icon">
                    <div class="icon__wishlist"></div>
                </div>
                <div class="nav__block--icon">
                    <div class="icon__account"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="spacer__header--colour">
        <div class="left"></div>
        <div class="right"></div>
    </div>
</div>

<div class="spacer__header--placeholder"></div>
<div class="info__simple">
    <div class="icon">
        <div class="icon__delivery"></div>
    </div>
    <div class="text">Kostenloser Versand ab 30€</div>
</div>
<div class="spacer__white"></div>
<div class="info">
    <div class="heading">Kauf lokal, wir sind noch da</div>
    <div class="text">Du möchstes Bestellungen abholen oder liefern lassen? Hier findest du deinen Händler.</div>
</div>
<div class="spacer__white"></div>
<div class="video"></div>
<div class="button__grid">
    <div class="button">FAHRRADJACKE HERREN</div>
    <div class="button">FAHRRADJACKE DAMEN</div>
    <div class="button">FAHRRAD-RUCKSÄCKE</div>
    <div class="button">FAHRRADTASCHE</div>
</div>
<div class="spacer__white"></div>
<div class="infoBig">
    <div class="heading">Outdoor-Produkte - Umweltfreundlich und fair</div>
    <div class="text">Wir finde es sollte selbstverständlich sein, dass Outdoor-Ausrüstung die Nautr nicht unnnotwendig
        belastet.
        Wir gehen als Pionier voran. Für unseren Planeten. Für unser Klima. Für dich.
    </div>
    <div class="button--edgy">
        MEHR ÜBER UNS
    </div>
</div>
<div class="spacer__big"></div>
<div class="spacer"></div>
<div class="infoBig__bild">
    <div class="heading">Right bike stuff for up and down.</div>
    <div class="button--edgy">MTB HERREN</div>
    <div class="button--edgy">MTB DAMEN</div>
</div>
<div class="scaper--white"></div>
<div class="product">
    <div class="heading">Funktionelle MTB-Ausrüstung aus recyceltem Material</div>
    <div class="highlight">Highlight</div>
    <div class="image"></div>
    <div class="description">Herren Minaki Isolationsjacke Ultraleicht - L ...</div>
    <div class="price">130,00 €</div>
</div>
<div class="infoBig__bild--dark">
    <div class="heading">Wir zeigen dir wo dein Produkt hergestellt wird.</div>
    <div class="text">Ob in Deutschland, Europa oder Asien produziert - wir halten uns an höchste Umwelt- und
        Sozialstandards in unseren weltweiten Lieferkette.</div>
    <div class="button--edgy">MEHR ZU WO HERGESTELLT</div>
</div>
<div class="spacer__big"></div>
<div class="spacer__grey"></div>
<div class="info--icons">
    <div class="icon">
        <div class="icon__pin">
        </div>
        <div class="text">HÄNDLERSUCHE</div>
    </div>
    <div class="icon">
        <div class="icon__star"></div>
        <div class="text">EXPRIENCE BLOG</div>
    </div>
    <div class="icon">
        <div class="icon__light"></div>
        <div class="text">CAMPS</div>
    </div>
    <div class="icon">
        <div class="icon__bubble"></div>
        <div class="text">HILFE & KONTAKT</div>
    </div>
</div>
<div class="info__small--withIcon">
    <div class="icon">
        <div class="icon__climateFriendly"></div>
    </div>
    <div class="text">100% CO²-neutrale Website</div>
</div>
<div class="heading--small">Bleibe mit uns in Verbidung</div>
<div class="info--socialMedia">
    <div class="icon">
        <div class="icon__facebook"></div>
    </div>
    <div class="icon">
        <div class="icon__youtube"></div>
    </div>
    <div class="icon">
        <div class="icon__instagramm"></div>
    </div>
    <div class="icon">
        <div class="icon__twitter"></div>
    </div>
    <div class="icon">
        <div class="icon__linkedIn"></div>
    </div>
</div>
<div class="spacer"></div>
<div class="spacer__grey--small"></div>
<div class="heading--small">Nichts mehr verpassen - Newsletter abonnieren</div>
<input type="text" class="input" placeholder="E-Mail Adresse eingeben">
<div class="button--edgy__standAlone">BESTELLEN</div>
<div class="spacer"></div>
<div class="spacer__grey--small"></div>
<div class="section--links">
    <div class="link__block">
        <div class="heading--small">Service</div>
        <div class="link__list">
            <div class="link">Fragen zur Bestellung</div>
            <div class="link">Lieferung & Versand</div>
            <div class="link">Retoure</div>
            <div class="link">Widerruf</div>
            <div class="link">Fragen zum Produkt</div>
            <div class="link">Pflege & Reperatur</div>
            <div class="link">Reklamation</div>
            <div class="link">Imprägnierservice</div>
            <div class="link">Testberichte</div>
        </div>
    </div>
    <div class="link__block">
        <div class="heading--small">Unternehmen</div>
        <div class="link__list">
            <div class="link">Über VAUDE</div>
            <div class="link">Karriere</div>
            <div class="link">Presse</div>
            <div class="link">B2B</div>
            <div class="link">Fragen zum Produkt</div>
            <div class="link">VAUDE Professional</div>
            <div class="link">Nachhaltigkeitsbericht</div>
        </div>
    </div>
    <div class="link__block">
        <div class="heading--small">Wo kaufen</div>
        <div class="link__list">
            <div class="link">Finde einen Händler</div>
            <div class="link">Mietprodukte</div>
            <div class="link">B2B Login</div>
        </div>
    </div>
</div>
<div class="spacer"></div>
<div class="spacer__grey--small"></div>
<div class="heading--small">Partner</div>
<div class="icons__list">
    <div class="icon">
        <div class="icon__DAV"></div>
    </div>
    <div class="icon">
        <div class="icon__fairWear"></div>
    </div>
    <div class="icon">
        <div class="icon__centurion"></div>
    </div>
</div>
<div class="spacer__big"></div>
<div class="info__small">NACHHALTIG HERGESTELLTE PRODUKTE</div>
<div class="spacer"></div>
<div class="icons__list">
    <div class="section">
        <div class="icon">
            <div class="icon__visa"></div>
        </div>
        <div class="icon">
            <div class="icon__mastercard"></div>
        </div>
        <div class="icon">
            <div class="icon__paypal"></div>
        </div>
        <div class="icon">
            <div class="icon__rechnung"></div>
        </div>
    </div>
    <div class="section">
        <div class="icon">
            <div class="icon__eShopDirect"></div>
        </div>
    </div>
    <div class="section">
        <div class="icon">
            <div class="icon__ups"></div>
        </div>
    </div>
</div>
<div class="spacer"></div>
<div class="info__small--taller">
    <div class="text">IMPRESSUM</div>
    <div class="text">DATENSCHUTZ</div>
    <div class="text">B2B LOGIN</div>
</div>
<div class="spacer"></div>
<div class="button--up">
    <div class="icon">
        <div class="icon__arrowUp"></div>
    </div>
</div>