.icon__light{
    background-image: url("https://www.flaticon.com/svg/vstatic/svg/77/77343.svg?token=exp=1615113969~hmac=b6675f797095572934f1b31bebefaa86");
    background-position: 50% 50%;
    width: 30px;
    height:30px;
}
.icon__bubble{
    background-image: url("https://www.flaticon.com/svg/vstatic/svg/2462/2462719.svg?token=exp=1615114259~hmac=37b6ed84d3c5eadf0c6d46e6a801f0f6");
    background-position: 50% 50%;
    width: 30px;
    height:30px;
}
.icon__pin{
    background-image: url("https://www.flaticon.com/svg/vstatic/svg/447/447031.svg?token=exp=1615113468~hmac=2d63b9ecd686bdb7479e95f2084da822");
    background-position: 50% 50%;
    width: 30px;
    height:30px;
}
.icon__star{
    background-image: url("https://www.flaticon.com/svg/vstatic/svg/124/124616.svg?token=exp=1615113675~hmac=33917b6263d4636a53b242f2b012bd1c");
    background-position: 50% 50%;
    width: 30px;
    height:30px;
}
.icon__arrowUp{
    background-image: url("https://www.vaude.com/themes/Frontend/Vaude/frontend/_public/src/img/icons/arrow-up.svg");
    background-position: 50% 50%;
    width: 30px;
    height:30px;
}

.icon__visa{
    background-image: url("https://www.vaude.com/media/image/b4/d2/c0/footer-benefits-visa.jpg");
    background-position: 50% 50%;
    width: 51px;
    height:36px;
}
.icon__mastercard{
    background-image: url("https://www.vaude.com/media/image/bb/f4/e6/footer-benefits-mastercard.jpg");
    background-position: 50% 50%;
    width: 57px;
    height:36px;
}
.icon__paypal{
    background-image: url("https://www.vaude.com/media/image/08/8a/94/footer-benefits-paypal.jpg");
    background-position: 50% 50%;
    width: 80px;
    height:36px;
}
.icon__rechnung{
    background-image: url("https://www.vaude.com/media/image/bc/ed/46/footer-benefits-rechnung.jpg");
    background-position: 50% 50%;
    width: 83px;
    height:49px;
}
.icon__eShopDirect{
    background-image: url("https://www.vaude.com/media/image/ac/0f/fe/footer-benefits-eshopdirect.jpg");
    background-position: 50% 50%;
    width: 176px;
    height:36px;
}
.icon__ups{
    background-image: url("https://www.vaude.com/media/image/46/79/5d/footer-benefits-ups.jpg");
    background-position: 50% 50%;
    width: 34px;
    height:36px;
}

.icon__DAV{
    background-image: url("https://www.vaude.com/themes/Frontend/Vaude/frontend/_public/src/img/logos/footer/partners/partners-dav-mobile.jpg");
    background-position: 0% 0%;
    background-size: contain;
    width: 92px;
    height: 45px;
}
.icon__fairWear{
    background-image: url("https://www.vaude.com/themes/Frontend/Vaude/frontend/_public/src/img/logos/footer/partners/partners-fairwear-mobile.png");
    background-position: 50% 50%;
    width: 104px;
    height: 45px;
}
.icon__centurion {
    background-image: url("https://www.vaude.com/themes/Frontend/Vaude/frontend/_public/src/img/logos/footer/partners/partners-centurion-mobile.png");
    background-position: 50% 50%;
    width: 95px;
    height: 43px;
}
.icon__facebook{
    background-image:url("https://www.vaude.com/themes/Frontend/Vaude/frontend/_public/src/img/icons/socialmedia/facebook-mobile.png");
    background-position: 50% 50%;
    width: 52px;
    height:52px;
}
.icon__youtube{
    background-image:url("https://www.vaude.com/themes/Frontend/Vaude/frontend/_public/src/img/icons/socialmedia/youtube-mobile.png");
    background-position: 50% 50%;
    width: 52px;
    height:52px;
}
.icon__instagramm{
    background-image:url("https://www.vaude.com/themes/Frontend/Vaude/frontend/_public/src/img/icons/socialmedia/instagram.png");
    background-position: 0% 0%;
    background-size:100% auto;
    width: 52px;
    height:52px;
}
.icon__twitter{
    background-image:url("https://www.vaude.com/themes/Frontend/Vaude/frontend/_public/src/img/icons/socialmedia/twitter-mobile.png");
    background-position: 50% 50%;
    width: 52px;
    height:52px;
}
.icon__linkedIn{
    background-image:url("https://www.vaude.com/themes/Frontend/Vaude/frontend/_public/src/img/icons/socialmedia/linkedin.png");
    background-position: 50% 50%;
    width: 52px;
    height:52px;
}
.icon__cart{
    background-image: url("https://www.vaude.com/themes/Frontend/Vaude/frontend/_public/src/img/icons/icon-basket.svg");
    background-position: 50% 50%;   
    width: 31px;
    height: 27px;
}
.icon__wishlist{
    background-image: url("https://www.vaude.com/themes/Frontend/Vaude/frontend/_public/src/img/icons/icon-wishlist.svg");
    background-position: 50% 50%;   
    width: 18px;
    height: 27px;
}
.icon__account{
    background-image: url("https://www.vaude.com/themes/Frontend/Vaude/frontend/_public/src/img/icons/icon-account.svg");
    background-position: 50% 50%;   
    width: 23px;
    height: 27px;
}
.icon__logo{
    background-image: url("https://www.vaude.com/themes/Frontend/Vaude/frontend/_public/src/img/logos/logo-vaude.svg");
    background-position: 50% 50%;   
    width: 148px;
    height: 32px;
    &--big{
        @extend .icon__logo;
        background-size: cover;
        background-position: 0% 0%;;
        width:252px;
        height: 54px; 
    }
}
.icon__menuAndSearch{
    background-image: url("https://www.vaude.com/themes/Frontend/Vaude/frontend/_public/src/img/icons/icon-burger-search.svg");
    background-position: 50% 50%;   
    width: 42px;
    height: 21px;
}
.icon__delivery{
    background-image: url("https://www.vaude.com/themes/Frontend/Vaude/frontend/_public/src/img/icons/icon-usp-delivery.svg");
    background-position: 50% 50%;   
    width: 54px;
    height: 30px;
}
.icon__search{
    background-image: url("https://www.vaude.com/themes/Frontend/Vaude/frontend/_public/src/img/icons/icon-search.svg");
    background-position: 0% 0%;  
    background-size: cover; 
    width: 20px;
    height: 20px;
}