.spacer__big {
    width: 100%;
    height: 25px;
}
.spacer {
    width: 100%;
    height: 15px;
}
.spacer__grey{
    width: 100%;
    height: 10px;
    background-color: rgb(244, 241, 238)
}
.spacer__grey--small{
    width: 100%;
    height: 2px;
    background-color: rgb(244, 241, 238)
}
.spacer__white{
    width: 100%;
    height: 5px;
}
.spacer__vertical{
    margin-right: 15px;
}



